<br><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">My Burger Bucket List</h1>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-12">
      <hr>
      <h2 class="text-center">Add a New Burger</h2>
      <br><br>
      <form class="create-form">
        <div class="row text-center">
          <label for="burger" class="col-2 col-form-label">Burger Name:</label>
          <input class="form-control col-7" type="text" id="burger" name="name" required></input>
          <button type="submit" class="col-3 btn-primary">Add Burger</button>
        </div>
      </form> 
    </div>
  </div>
  <br><hr><br>
  <div class="row">
    <div class="col-6">
      <h3 class="text-center">Want to Eat</h3>
      <br><br>
      <ul>
        {{#each burger}}
          {{#unless devoured}}
            {{!-- <ul> --}}
              <li>
              {{id}}: {{burger}} 
              <button class="change-devoured" data-id="{{id}}" data-devoured="0">Devoured</button>
              </li>
            {{!-- </ul> --}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6">
      <h3 class="text-center">Devoured</h3>
      <br><br>
      <ul>
        {{#each burger}}
          {{#if devoured}}
            <li>{{id}}: {{burger}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

  
</div>